{% extends "blog/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div style="position: absolute; width: 393px; height: 401px; left: 0px; top: -10px">
  <img width="410px" height="380px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/640px-Image_created_with_a_mobile_phone.png" />
</div>
<div style="position: absolute;width: 393px;height: 504px;left: 10px;top: 381px;background: linear-gradient(90.08deg, #ffffff -7.31%, #dcdcdc 130.01%);border-radius: 35px;">
  <div style="position: absolute;width: 184px;height: 45px;left: 41px;top: 50px;">
    <p style="font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 30px;line-height: 45px;color: black;">
      Event Name
    </p>
  </div>
  <div style="position: absolute;width: 250px;height: 45px;left: 41px;top: 100px;">
    <p style="font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 20px;line-height: 18px;color: black;">
      3 of your friends are joining
    </p>
  </div>
  <div style="position:absolute;width: 100px;height: 45px;left: 39px;top: 160px;">
    <p style="font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 30px;line-height: 18px;color: black;">Description</p>
  </div>
  <div style="position: absolute;width: 303px;height: 45px;left: 38px;top: 200px;">
    <p style="font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 20px;line-height: 18px;color: black;">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos eligendi maiores, vitae similique officiis excepturi ullam neque hic sequi at quis eos quaerat possimus molestiae illo eius nam quidem magni.
    </p>
  </div>
  <div style="position: absolute;width: 303px;height: 45px;left: 38px;top: 350px;">
    <p style="font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 20px;line-height: 18px;color: black;">
      strada Constantin Brancusi, nr 55-57 
      ABC incubator
    </p>
  </div>
  <div style="position: absolute;width: 303px;height: 45px;left: 38px;top: 400px;">
    <p style="font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 20px;line-height: 18px;color: black;">
      mar 24-25 2023
      09:00 - 10:00
    </p>
  </div>
  <button style="position: absolute;width: 90px;height: 45px;left: 145px;top: 450px;border-radius: 15px;"> Register </button>
</div> 
{% endblock content %}
