{% extends "blog/base.html" %}
{% load static %}
{% block content %}

    <style type="text/css">
        .btn-outline-success {
        border-color: white;
        color: white !important;
        padding: 12px 80px 12px 80px;
        font-weight: bold;
        background-color: #198754;
        border:0;
        border-radius: 25px;
    }
    </style>
    <div class="row">

        <div class="col-12 col-md-3 pr-4 dont-move container justify-content-center">
            <div class="text-center">
            <h2 class="white-important">OfficeRoom</h2><br>
            </div>
            <br>
            <div class="profile-section">
            <h3 class="white-important p-2">
                Your profile
            </h3>
            <article class="media content-section" style="height: 140px; width: 100%">
                {%  if user_profile != None %}
                    <div class="mt-2 d-flex full-width align-items-center">
                        <img
                           class="rounded-circle mr-3 img-fluid"
                           style="width: 90px; height: 90px;"
                           src="{{ user_profile.profile.image.url }}">
                        <div>
                            <h4 style="text-align: left"
                                    class="white-important">
                                {{ user_profile.username }}
                            </h4>
                            <h6 style="text-align: left"
                                    class="email-profile">
                                {{ user.email }}
                            </h6>

                        </div>
                    </div>
                {%  else %}
                    <div class="mt-2 d-flex full-width align-items-center">
                        <img
                           class="rounded-circle mr-3"
                           style="width: 90px; height: 90px;"
                           src="{{ user.profile.image.url }}">
                        <div>
                            <h4 style="text-align: left"
                                    class="white-important">
                                {{ user.username }}
                            </h4>
                            <h6 style="text-align: left"
                                    class="email-profile">
                                {{ user.email }}
                            </h6>
                            <h6 style="text-align: left" class="email-profile">
                                {%  if userProfile.isChecked %}
                                Checked in for work tomorrow
                                {% else %}
                                Will not be at work tomorrow
                                {% endif %}
                            </h6>
                        </div>
                    </div>
                {%  endif %}
            </article>



            <div class="d-flex" style="justify-content: center;">
                <div style="margin-left: auto; margin-right:auto">
                    <a class="btn btn-sm btn-outline-primary mb-4 mr-3 full-width pr-4 pl-4"onClick="document.getElementById('checkin').submit()">
                        Check in tomorrow
                    </a>
                                    <form id="checkin" method="POST" action="{% url 'isChecked' %}">
                                    {% csrf_token %}
                                    <input type="hidden">
                                    </form>

                    <a class="btn btn-sm btn-outline-primary mb-4 mr-3 full-width pr-4 pl-4" href="#">
                        Invite {{userProfile.user.username}} to work
                    </a>

                </div>
            </div>
            </div>
        </div>
        <div class="col-12 col-md-9 pr-4 dont-move container justify-content-center">
            <div class="text-center">
            <h2 class="white-important">Details about {{userProfile.user.username}}</h2><br>
            </div>
            <br>
            <div class="profile-section">
            <article class="media content-section" style="height: 140px; width: 100%">
                    <div class="mt-3 d-flex full-width align-items-center">
                        <img
                           class="rounded-circle mr-3"
                           style="width: 90px; height: 90px;"
                           src="{{ userProfile.image.url }}">
                        <div>
                            <h4 style="text-align: left"
                                    class="email-profile">
                                <b>{{ userProfile.user.username }}</b>
                            </h4>
                            <h6 style="text-align: left"
                                    class="email-profile">
                                {{ userProfile.user.email }}
                            </h6>
                            <h6 style="text-align: left" class="email-profile">
                                {%  if userProfile.isChecked %}
                                Checked in for work tomorrow
                                {% else %}
                                Will not be at work tomorrow
                                {% endif %}
                            </h6>
                        </div>
                    </div>
                    <div class="mt-3 mb-5 flex-row container full-width align-items-center">
                        {% for hobby in userProfile.interests.all %}
                            {% if hobby in myProfile.interests.all and userProfile != myProfile %}
                            <btn class="btn btn-sm btn-outline-success mb-4" data-toggle="modal" data-target="#exampleModal-{{hobby}}">{{hobby}}</btn>
                            {% else  %}
                            <btn class="btn btn-sm btn-outline-primary mb-4">{{hobby}}</btn>
                            {% endif %}

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal-{{hobby}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #15202b;">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:#15202b;">You matched an interest in {{hobby}}!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body" style="width: 300px;">
                                    <form>
                                        <input type="file" id="myFile" name="myName">
                                        <input type="submit" style="padding-top: 1rem;">
                                    </form>
                                    <div style="padding-left: 8.5rem;padding-top: 1rem;">
                                        <svg width="200" height="200" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                                            <path d="M24 12.0417C24 8.70495 21.2951 6 17.9583 6H12.0417C8.70495 6 6 8.70495 6 12.0417C6 15.3784 8.70495 18.0833 12.0417 18.0833H13.2V21C13.2 21 24 19.5417 24 12.0417Z" fill="#808080"/> 
                                            <path d="M18.5 28C18.5 30.21 16.71 32 14.5 32C12.29 32 10.5 30.21 10.5 28C10.5 25.79 12.29 24 14.5 24C16.71 24 18.5 25.79 18.5 28Z" fill="#808080"/> 
                                            <path d="M14.5 34C11.6631 34 6 35.4293 6 38.2667V42H23V38.2667C23 35.4293 17.3369 34 14.5 34Z" fill="#808080"/> 
                                            <path d="M33.5 32C35.71 32 37.5 30.21 37.5 28C37.5 25.79 35.71 24 33.5 24C31.29 24 29.5 25.79 29.5 28C29.5 30.21 31.29 32 33.5 32Z" fill="#808080"/> 
                                            <path d="M33.5 34C30.6631 34 25 35.4293 25 38.2667V42H42V38.2667C42 35.4293 36.3369 34 33.5 34Z" fill="#808080"/> 
                                            <path d="M32.0417 7C28.7049 7 26 9.70495 26 13.0417C26 20.5417 35.6 22 35.6 22V19.0833H35.9583C39.2951 19.0833 42 16.3784 42 13.0417C42 9.70495 39.2951 7 35.9583 7H32.0417Z" fill="#808080"/> 
                                        </svg>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Send invite</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        {% endfor %}

                    </div>
            </article>
            <article class="media content-section" style="margin-top: 120px;">
                <div class="row full-width pl-2">
                    <div class="col-4">
                           Atending events
                    </div>
                    <div class="col-4">
                            Score
                    </div>
                    <div class="col-4">
                        Possible score
                    </div>
                        <div class="col-4">
                            <a href="#">
                                <h3 class="white-important follow-click">
                                   {{events_participated_in}}
                                </h3>
                            </a>
                        </div>

                        <div class="col-4">
                            <a href="#">
                                <h3 class="white-important follow-click">
                                    {{score}}
                                </h3>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="#">
                                <h3 class="white-important follow-click">
                                    {{possible_score}}
                                </h3>
                            </a>
                        </div>
                </div>
            </article>
            </div>
        </div>




{% endblock content %}