.ThisDiv {
    width: 100px;
    height: 100px;
    background-image: url("images/usr.png");
    background-size:     cover;                  
    background-repeat:   no-repeat;
    background-position: center center;  
}